.about-div{
    display: flex;
    justify-content: center;
    align-items: center;
      width: 100vw;
     height: 100vh;
      background: url("../../../public/About.jpg");
      
  background-size: cover;
}
.about-title{
    color: #ffff;
    font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
}

/* card reviews */
.card-maindiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 689px;
  background: #3A7BD9;
}
.about-card-body{
  width: 350px;
  height: 568px;
  background: #ffff;
  border-radius: 20px;
}
/* Progress Bar */
.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  width: 420px;
  row-gap: 20px;
  padding: 50px 0px;
  border-radius: 8px;
}
.circular-progress{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  background: conic-gradient(#01D363 180deg, rgba(1, 211, 99, 0.2) 0deg);

}
.circular-progress::before{
  height: 120px;
  width: 120px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #ffff;
}
.progress-value{
  position: relative;
  font-weight: 700;
font-size: 32px;
line-height: 42px;
}
