.about-div{
    display: flex;
    justify-content: center;
    align-items: center;
      width: 100vw;
     height: 100vh;
      background: url("../../../public/About.jpg");
      
  background-size: cover;
}
.about-title{
    color: #ffff;
    font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
}
/* about ceo */
.container {
  width: 100%;
  height: 100vh;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ev1 {
  width: 540px;
  height: 717px;
  border-radius: 30px;
}
.text-div {
  margin-top: 50px;
  padding-left: 30px;
}
.big-desc {
  padding-left: 20px;
  width: 526px;
  height: 150px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
.ev-heading {
  width: 526px;
  height: 92px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #ffffff;
}
.small-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 1400px;
  left: 545px;
}

.ev2 {
  width: auto;
  height: 305px;
  border-radius: 30px;
}

/* card reviews */
.card-maindiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 689px;
  background: #3A7BD9;
}
.about-card-body{
  width: 350px;
  height: 568px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffff;
  border-radius: 20px;
}
.review-img{
  width: 318px;
height: 313.49px;
}
.review-desc-about{
  width: 300px;
height: 84px;
 text-align: center;
 font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 155.5%;
}
/* Progress Bar */

.about-heading-title{

font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 52px;
text-align: center;
color: #FFFFFF;
}
.progressbar-div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
}
.progress-heading2{
  width: 230px;
height: 36px;
font-size: 23px;
line-height: 155.5%;
color: #32C36C;
}
.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  width: 420px;
  row-gap: 20px;
  padding: 50px 0px;
  border-radius: 8px;
}
.about-progress-desc{

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 155.5%;
text-align: center;
color: #FFFFFF;

}
.circular-progress{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  background: conic-gradient(#01D363 180deg, rgba(1, 211, 99, 0.2) 0deg);

}
.circular-progress::before{
  height: 120px;
  width: 120px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #ffff;
}
.progress-value{
  position: relative;
  font-weight: 700;
font-size: 32px;
line-height: 42px;
}
.progress-desc{
width: 300px;
height: 84px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 155.5%;
text-align: center;
color: #FFFFFF;

}

