.solar-div{
    display: flex;
    justify-content: center;
    align-items: center;
      width: 100vw;
  height: 100vh;
      background: url("../../../public/solarpanel.png");
  
    background-size: cover;
}
.solar-heading{
    color: #ffff;
    font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
}

/* second div */
.container {
  width: 100%;
  height: 100vh;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ev1 {
  width: 540px;
  height: 717px;
  border-radius: 30px;
}
.text-div {
  margin-top: 50px;
  padding-left: 30px;
}
.big-desc {
  padding-left: 20px;
  width: 526px;
  height: 150px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
.ev-heading {
  width: 526px;
  height: 92px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #ffffff;
}
.small-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 1400px;
  left: 545px;
}

.ev2 {
  width: auto;
  height: 305px;
  border-radius: 30px;
}
.small-desc {
  padding-left: 20px; 
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
.small-container1 {
  display: flex;
  position: absolute;
  left: 300px;
  top: 2350px;
}
.big-desc1 {
  padding-left: 20px;
  width: 326px;
  height: 150px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
.small-container2 {
  display: flex;
  position: absolute;
  left: 400px;
  top: 3350px;
}
.small-container3 {
  display: flex;
  position: absolute;
  left: 400px;
  top: 4300px;
}