.footer-line {
  width: auto;
  height: 0px;
  margin: 0 40px 0 40px;
  border: 3px solid #6a8e70;
}
.footer {
  /* position: absolute; */
  width: 100%;
  height: auto;
  background-color: black;
  color: #fff;
  padding: 40px 0 30px;
  line-height: 20px;
  font-size: 13px;
}
.social:hover{
  color: #79ca5d;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.column {
  padding: 10px;
}
.column h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  font-size: 30px;
}
.column p {
  font-size: 18px;
}
.it {
  color: #79ca5d;
}
